@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans";
    --bd-violet-bg: #6120c4;
    
}

/* radial-gradient( circle, rgb(255, 88, 88), #5519afcb 70%); */

header{
    background-color: #5519afcb;
    background-image: radial-gradient( circle, #69518b, #19073393 70%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background: linear-gradient(to bottom, #5ca0f8af, #f7787888);
    width: 100%;
    min-height: 150vh;
    max-height: none;
}

.apresentacao{
    margin: auto;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 5px;
}

.apresentacao h1{
    font-size: clamp(4rem, 2rem + 7vw,10rem);
    font-weight: 800;
    margin: 0;
    
}

.apresentacao h1:first-of-type{
    font-style: italic;
    font-size: clamp(3rem, 2rem + 4vw,7rem);
}

.apresentacao p:last-of-type{
    align-self: end;
}

.icons{
    width: clamp(24px, 4px + 4vw,64px);
    height: clamp(24px, 4px + 4vw,64px);
}

.icons:hover{
    transition: 0.2s ease-in-out;
    transform: translateY(-15px);
}

.apresentacao p{
    font-size: clamp(0.8rem, 0.2rem + 2vw ,1.5rem);
}

#minSize{
    display: none;
}



/*Segunda parte*/

#projects{
    text-align: center;
    padding: 25px 0px;
    font-size: 4rem;
    color: white;
    font-style: italic;
    padding-top: 140px;
    margin-bottom: 0px;
}

#warning{
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust the positioning to truly center the element */
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    font-size: calc(5vh + 2vw);
    font-family: Arial, sans-serif;
    text-align: center;
    opacity: 1; /* Ensure full visibility initially */
    transition: opacity 1s ease; /* Transition the opacity */
    border-style: none;
    margin-top: 80px;
    width: 100%;
}


#conteudo{
    width: 100%;
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: baseline;
    margin-top: 50px;
    padding: 50px;
    row-gap: 150px;

  
}

.p3{
    grid-column: 1;
}

.p1{
    grid-column: 2;
}

.p2{
    grid-row: 2;
}

/* 
.projeto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

} */

/* @media(max-width: 1300px){
    #conteudo{
        flex-direction: row;
        align-items: center;
        gap: 150px;
        max-height: none;
        height: 100%;
        margin-top: 150px;
    }
    
    @media(max-width: 700px){
    .projeto {width: clamp(15rem, 15rem + 35vw,35rem);}

        @media(max-width: 370px){ .projeto{ width: clamp(15rem, 15rem + 15vw,20rem); } }
}
    #projects{
        margin-bottom: 30px;
        padding-top: 70px;
    }

    #warning{
        margin-top: 0px;
    }

} */

.mockups{
    display: flex;
    align-items: end;
}
/* 
.p1{
    justify-content: end;

}

.p2{
    justify-content: start;
} */


.projeto h1{
    font-size: 1.5rem;
}


.tema{
    color: white;
    text-align: center;
    margin-top: 50px;
    text-align: center;
}

.tema span{
    font-size: 1rem;
}

.vPc{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vMobile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.information{
    width: 3.5%;
    height: 6.5%;
    margin-bottom: 4%;
    cursor: pointer;
    position: absolute;
}

.infodb{
    margin-left: 1%;
}


.custom-popover {
    --bs-popover-max-width: 300px;
    --bs-popover-border-color: var(--bd-violet-bg);
    --bs-popover-header-bg: var(--bd-violet-bg);
    --bs-popover-header-color: white;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem; 
  }

.tema h1{
    font-size: clamp(1rem, 1rem + 1vw,1.5rem);
}

.tema p{
    font-size: clamp(2rem, 1rem + 2vw,2.5rem);
}

@media(max-width: 392px){
    .apresentacao{
        padding: 20px;
    }
    
    .apresentacao h1 a{
        display: none;
    }
    .apresentacao h1:first-of-type{
        font-size: 2.4rem;
    }

    .apresentacao h1{
        font-size: 2.4rem;
        font-style: italic;
    }

    #minSize{
        display: flex;
        margin: auto;
        gap: 20px;
    }

    .icons{
        margin-top: 25px;
        width: 48px;
        height: 48px;
    }

    
}

@media(max-width: 1330px){
    #conteudo{
        display: flex;
        flex-direction: column;
        gap: 200px;
        height: 100%;
        align-items: center;
    }

    main{
        min-height: 250vh;
    }

    .information{
        width: 15px;
        height: 15px;
        margin-bottom: 4%;
        cursor: pointer;

    }
}

@media(max-width: 1630px){
    
    main{
        min-height: 250vh;
    }
}